vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|13 Mar 2014 15:00:52 -0000
vti_extenderversion:SR|6.0.2.8161
vti_author:SR|BIRCKHEAD-JANE\\Jane
vti_modifiedby:SR|BAKERSVILLE\\BrianH
vti_timecreated:TR|19 Feb 2010 13:47:58 -0000
vti_backlinkinfo:VX|contact.html attractions.html rates.html rooms.html thanks.html about.html map.html index.html email.html
vti_nexttolasttimemodified:TW|24 Mar 2010 15:17:01 -0000
vti_cacheddtm:TX|13 Mar 2014 15:00:52 -0000
vti_filesize:IR|1054
vti_cachedlinkinfo:VX|S|images/bigback.jpg
vti_cachedsvcrellinks:VX|FSUS|images/bigback.jpg
